{% extends 'home/main.html' %}
{% block content %}


    <h1>Quizzes</h1>
    <div class="sidebar-toggle" onclick="toggleSidebar()">&#9776;</div>

    <div class="sidebar">
        <h3>Quizzes</h3>
        <details>
            <summary>Created Quizzes</summary>
            <ul>
                {% for quiz in created_quizzes %}
                    <li>
                        <a href="{% url 'quiz' quiz.id %}">{{ quiz.title }}</a>
                    </li>
                {% empty %}
                    <li>No quizzes created yet.</li>
                {% endfor %}
            </ul>
        </details>
    </div>

    <div class="content-container">
        {% if user.is_authenticated %}
            <small>Logged in as @{{ user }}</small>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}

        <a href="{% url 'create_quiz' %}"><button>Create a quiz</button></a>
        <form method="get" action="{% url 'home' %}" class="search-label">
            <input type="text" name="q" value="{{ search_query }}" placeholder="Search for quizzes..."/><button type="submit">Search</button>
        </form>
        <ul>
            {% for quiz in home %}
                <li>
                    <a href="{% url 'quiz' quiz.pk %}">{{ quiz.title }}</a>
                    <small>@{{ quiz.user }}</small>
                </li>
            {% empty %}
                <li>No quizzes found.</li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}
