{% extends 'home/main.html' %}
{% block content %}

    <div class="sidebar-toggle" onclick="toggleSidebar()">&#9776;</div>

    <div class="sidebar">
        <h3>Quizzes</h3>
        <details>
            <summary>Created Quizzes</summary>
            <ul>
                {% for quiz in created_quizzes %}
                    <li>
                        <a href="{% url 'quiz' quiz.id %}">{{ quiz.title }}</a>
                    </li>
                {% empty %}
                    <li>No quizzes created yet.</li>
                {% endfor %}
            </ul>
        </details>
    </div>

    <div class="content-container">
        <div class="action-container">
            {% if user.is_authenticated %}
                <small>Logged in as @{{ user }}</small>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
            {% endif %}

            <a href="{% url 'create_quiz' %}"><button>Create a quiz</button></a>
            <form method="get" action="{% url 'home' %}">
                <label>
                    <input class="input" type="text" name="q" value="{{ search_query }}" placeholder="Search...."/>
                </label>
            </form>
            <a href="{% url 'user_search' %}" class="user-link">Users</a>
        </div>
        <div class="quiz-container">
            {% for quiz in home %}
                <div class="quiz-card">
                    <h2><a href="{% url 'quiz' quiz.pk %}">{{ quiz.title }}</a></h2>
                    <p class="creator">Created by: @{{ quiz.user }}</p>
                    <p>Created on: {{ quiz.created_at|date:"M d, Y" }}</p>
                    <a href="{% url 'quiz' quiz.pk %}"><button class="take-quiz-btn">Take Quiz</button></a>
                </div>
            {% empty %}
                <p>No quizzes found.</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}
