{% extends 'home/main.html' %}
{% block content %}



<h1>Add Question and Answers</h1>

<form class="question-create-form" method="post">
    {% csrf_token %}
    
    <!-- Question Form -->
    <h3>Question</h3>
    {{ question_form.as_p }}
    
    <!-- Answer Formset -->
    <h3>Answers</h3>
    {{ answer_formset.management_form }}
    {% for form in answer_formset %}
        <div class="answer-create-form">
            {{ form.text}}
            <label class="cl-checkbox">
                {{ form.is_correct }}
                <span></span>
              </label>            
        </div>
    {% endfor %}
    
    <button type="submit">Save</button>
</form>




{% endblock %}