{% extends 'home/main.html' %}
{% block extra_meta %}
<meta http-equiv="refresh" content="5">
{% endblock %}
{% block content %}


<a href="{% url 'home' %}" class="hvr-icon-back"><small><i class="fa fa-chevron-circle-left hvr-icon">  </i>Go to Home</small></a>

<h1>{{ quiz.title }}</h1>
<p>{{ quiz.description }}</p>

{% if user.is_authenticated and quiz.user == user %}
    <a href="{% url 'update_quiz' quiz.id %}"><button>Edit</button></a>
    <a href="{% url 'quiz_participant_result' quiz.id %}"><button>View Participant Results</button></a>
{% endif %}

{% if user.is_authenticated %}
    {% if answered_all %}
        <a href="{% url 'quiz_results' quiz.id %}">
            <button>View Results</button>
        </a>
    {% else %}
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for question in questions %}
                    <li>
                        <p>{{ question.text }}</p>
                        {% for answer in question.answers.all %}
                            <label class="checkbox-wrapper"> 
                                <input class="checkbox-wrapper" type="radio" name="answer_{{ question.id }}" value="{{ answer.id }}">
                                <div class="checkmark">
                                    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor">
                                      <path
                                        d="M20 6L9 17L4 12"
                                        stroke-width="3"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                      ></path>
                                    </svg>
                                  </div>
                                <span class="label">{{ answer.text }}</span>
                            </label>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Submit</button>
        </form>
    {% endif %}
{% else %}
    <p>Please log in to participate in the quiz.</p>
{% endif %}
{% if user.is_authenticated and quiz.user == user %}
    <ul>
        {% for question in quiz.questions.all %}
            <li>
                {{ question.text }}
                <ul>
                    {% for answer in question.answers.all %}
                        <li>{{ answer.text }} (Correct: {{ answer.is_correct|yesno:"Yes,No" }})</li>
                    {% endfor %}
                </ul>
                <a href="{% url 'create_answer' question.id %}">Create an Answer</a>
                <form method="post" action="{% url 'delete_question' question.id %}">
                    {% csrf_token %}
                    <button type="submit">Remove</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'create_question' quiz.id %}">Add a Question</a>

    <form method="post" action="{% url 'delete_quiz' quiz.id %}" onsubmit="return confirm('Are you sure you want to delete this quiz?')">
        {% csrf_token %}
        <button type="submit" value="delete" class="btn">Delete</button>
    </form>
{% endif %}




{% endblock %}