

<h1>{{quiz.title}}</h1>  
<p>{{quiz.description}}</p>
{% if user.is_authenticated and quiz.user == user %} <a href="{% url 'update_quiz' quiz.id %}"><button>Edit</button></a> {% endif %}
<ul>
    {% for question in quiz.questions.all %}
        <li>
            {{question.text}}
            {% if user.is_authenticated and quiz.user == user %}
                <form method="post" action="{% url 'delete_question' question.id %}">
                    {% csrf_token %}
                    <button type="submit" value="delete">Remove</button>
                </form>
            {% endif %}
        </li>
    {% endfor %}
</ul>

{% if user.is_authenticated and quiz.user == user %}
    <a href="{% url 'create_question' quiz.id %}">Add a Question</a>
    <a href="{% url 'delete_quiz' quiz.id %}"><button>Delete</button></a>
{% endif %}
