


<h1>{{ quiz.title }}</h1>
<p>{{ quiz.description }}</p>

<form method="POST">
    {% csrf_token %}
    
    {% for question in questions %}
        <div>
            <p>{{ question.text }}</p>
            {% for answer in question.answers.all %}
                <label>
                    <input type="radio" name="question_{{ question.id }}" value="{{ answer.id }}">
                    {{ answer.text }}
                </label><br>
            {% endfor %}
        </div>
    {% endfor %}
    
    <button type="submit">Submit</button>
</form>